{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="content-register">
    <div class="container-fluid-register" id="form">
        <section id="form">
            <div class="container fixed-width-container-register" id="form">
                <div class="row justify-content-md-center">
                    <div class="col-12">
                        <h2 class="mt-5 mb-4 display-5 text-center fs-1">Registro</h2>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-12">
                        <div class="border rounded shadow-sm overflow-hidden">
                            <form action="{% url 'register' %}" method="POST" id="form">
                                {% csrf_token %}
                                <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                                    <div class="col-12 col-md-6">
                                        <label for="{{ form.first_name.id_for_label }}" class="custom-label">{{ form.first_name.label }}<span class="text-danger">*</span></label>
                                        {{ form.first_name|attr:"class:custom-input" }}
                                        {% if form.first_name.errors %}
                                            <div class="error-message">{{ form.first_name.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="{{ form.last_name.id_for_label }}" class="custom-label">{{ form.last_name.label }}<span class="text-danger">*</span></label>
                                        {{ form.last_name|attr:"class:custom-input" }}
                                        {% if form.last_name.errors %}
                                            <div class="error-message">{{ form.last_name.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.username.id_for_label }}" class="custom-label">{{ form.username.label }}<span class="text-danger">*</span></label>
                                        {{ form.username|attr:"class:custom-input" }}
                                        {% if form.username.errors %}
                                            <div class="error-message">{{ form.username.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <label for="{{ form.email.id_for_label }}" class="custom-label">{{ form.email.label }}<span class="text-danger">*</span></label>
                                        {{ form.email|attr:"class:custom-input" }}
                                        {% if form.email.errors %}
                                            <div class="error-message">{{ form.email.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="{{ form.password1.id_for_label }}" class="custom-label">{{ form.password1.label }}<span class="text-danger">*</span></label>
                                        {{ form.password1|attr:"class:custom-input" }}
                                        {% if form.password1.errors %}
                                            <div class="error-message">{{ form.password1.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="{{ form.password2.id_for_label }}" class="custom-label">{{ form.password2.label }}<span class="text-danger">*</span></label>
                                        {{ form.password2|attr:"class:custom-input" }}
                                        {% if form.password2.errors %}
                                            <div class="error-message">{{ form.password2.errors.0 }}</div>
                                        {% endif %}
                                    </div>
                                    {% if form.non_field_errors %}
                                        <div class="col-12 error-message">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn btn-secondary btn-lg" type="submit">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
